.footer {
  font-size: 62.5%;
  background-color: #fff;
  display: flex;
  padding: 1rem 2rem;
  flex-wrap: wrap;
  border-top: 1px solid #d3d3d3;
  position: sticky;
  top: 0;
  z-index: 1;
}
.logo {
  flex: 1 1 20rem;
  align-items: center;
  display: flex;
}
.features {
  font-size: 1.2rem;
  order: 2;
}
.title {
  font-size: 1.6rem;
  font-weight: 400;
  padding-left: 1rem;
}
.menulist {
  list-style: none;
  display: flex;
}
.menulistItems {
  margin-right: 1rem;
}
.menulistItems:hover {
  transition: all 0.25s ease;
  border-bottom: 1px solid #8b77ee;
  color: #8b77ee;
}
@media screen and (max-width: 600px) {
  .menulistItems {
    display: none;
  }
}
